SANITY_PROJECT_ID=i4nv6nac
SANITY_DATASET=production
# Wymagany jest token z uprawnieniami edytora (Editor), aby skrypt mógł dodawać posty i zdjęcia.
# Wygeneruj go na https://manage.sanity.io/projects/i4nv6nac/api#tokens
SANITY_WRITE_TOKEN=
